<% content_for(:page_title, @profile == current_profile ? "My Groups" : "#{@profile.full_name}'s Groups") -%>
<% content_for(:groups_tab_selected, 'selected') -%>
<% owner_content do %>
	<%= render :partial => 'groups/unused_slot' %>
<% end unless @profile.is_sponsored? %>


  
<!-- <div id="groups"> -->
<div id="list">   
	<% owner_content do%>
		<% collection_content_for @invitations do %>
			<h2>Groups I've been invited to join</h2>
			<% @invitations.each do |invitation| %>
				<%= render :partial =>'groups/group', :locals => { :group => invitation.group, :invitation => invitation, :classname => cycle('odd', 'even') } %>
			<% end %>
		<% end %>
	<% end unless @profile.is_sponsored? %>

	<% collection_content_for @groups do %>
		<h2>Groups <%= current_profile == @profile ? "I've" : "#{@profile.screen_name} has" %> joined</h2>
		<% @groups.each do |group| %>
			<%= render :partial =>'groups/group', :locals => { :group => group, :classname => cycle('odd', 'even') } %>
		<% end %>
	<% end %>

	<% if current_profile != @profile && @groups.size.zero? %>
		<div align="center">
			<%= link_to image_tag("/images/noGroups.png"), groups_explorations_path %>
		</div>
	<% end %>

</div>

