<%= render "notifier/partials/headline", {:headline => "Your group has been referred a new question."} %>

<p style="line-height: 18px;"><font color="#333333" face="linotype universe, helvetica, arial" size="3">
	<p><%=@referred_by.full_name%> referred the following question to <%= link_from_email(@group.name, group_url(@group)) %>:</p>
	<p>
		&#8220;<%= @question.question %>&#8221;
	</p>
	<p>Answer it
		<%= link_from_email("here", "#{@site_base_url}/questions/#{@question.id}/answers/new") %>.
	</p>	
</font></p>	
		