<%= render "notifier/partials/headline", {:headline => "Your agency blog post has received a new comment."} %>

<p style="line-height: 18px;"><font color="#333333" face="linotype universe, helvetica, arial" size="3">
	<p><%= @comment.profile.screen_name %> commented on your agency blog post &#8220;<%= link_from_email(@comment.owner.title, blog_post_url(@comment.owner)) %>&#8221;.</p>
	<p>&#8220;<%= @comment.text %>&#8221;</p>
	<p><%= link_from_email('Click here', blog_post_url(@comment.owner) ) %>  to view it.</p>
</font></p>