<%= render "notifier/partials/headline", {:headline => "Your question has been answered."} %>

<p style="line-height: 18px;"><font color="#333333" face="linotype universe, helvetica, arial" size="3">
	<p><strong><%= @answered_by.full_name %> answered a question you are watching.</strong></p>
	<p><strong>Q:</strong> &#8220;<%= @question.question %>&#8221;</p>
	<p><strong>A:</strong> &#8220;<%= truncate @answer.answer, { :length => 100, :omission => "..." } %>&#8221;</p>
	<p><strong><%= link_from_email("Click here", @answer_url )%> to read it.</strong></p>
	<p>
		Now that you're "in the know", how about sharing with others? Take a
		stab at our <%= link_from_email("unanswered questions", "#{@site_base_url}/explorations/questions?filter_scope=unanswered" )%>.
	</p>
</font></p>

	