<style>
  div.news_item div.details a {
    color: inherit;
 }
  
</style>

<div id="<%= "news_item_#{index}" %>" class="list_item news_item <%= cycle("even", "odd") %>">
     <div class="booth_activity_icon">
        <%= image_tag event.icon_path, :class => "icon" %>
     </div>
     <div class="booth_activity_details">
       <a href="<%= event.event_path %>">
       <h6 class="who"><%= event.who %></h6>
       <p class="what">
         <%= event.what %>
       </p>
      <p class="when"><br/><%= event.when %></p>
     </a>
  </div>
</div>
