<div class="booth_activity_details">
  <%= image_tag event.icon_path -%>
   <a href="<%= event.event_path %>">
     <div class="booth_activity_who"><%= event.who %></div>
       <div class="booth_activity_what_when">
         <%= event.what %><br/>
         <%= event.when %>
       </div>
    </a>
</div>

