<table class="border_table" cellspacing="0" width="100%">
	<caption>Users</caption>
	<tr>

		<th><%= sort_link_helper "Screen Name", "screen_name" -%></th>
		<th>PCC/IATA</th>
		<th>Company</th>
		<th>URL</th>
		<th><%= sort_link_helper "Email", "email" -%></th>
		<th>Registration</th>
		<th><%= sort_link_helper "Status", "status" -%></th>
		<th>Action</th>
	</tr>
	<% @profiles.each do |profile| -%>
		<tr class="<%= cycle("even", "odd") -%>">
			<td><%= link_to(truncate(profile.screen_name, :length => 15), profile_path(profile)) -%></td>
			<td><%= profile.registration_field(1) -%></td>
			<td><%= profile.registration_field(2) -%></td>
			<td><%= profile.registration_field(3) -%></td>
			<td><%= mail_to profile.user.email, 
			        truncate(profile.user.email, :length => 19) -%></td>
			
			<td><%= mini_date profile.user.created_at %></td>

			<td><%= profile.status_name -%></td>
			<td>
				<%= render :partial => "actions", :locals => {:profile => profile} %>
			</td>
		</tr>
	<% end -%>
</table>
<%= will_paginate @profiles %>