<style>
  div.news_item div.details a {
    color: inherit;
  }
  
</style>

<div id="news_item1" class="list_item news_item <%= cycle("even", "odd") %>">
  <% display = display_event(event) %>
	<%= display[:avatar] %>
	<div class="details">
		<a href="<%= event_path(event) %>">
		  <div class="icon">
		    <%= display[:icon] %>
		  </div>
		  <h3 class="who"><%= display[:who] %></h3>
		  <p class="what">
		    <%= display[:what] %>
		  </p>
		  <p class="when"><br/><%= time_ago_in_words(event.created_at) %> ago</p>
		  
		</a>
	</div>
</div>

