<!-- HEADER -->
<div class="header">
  <div class="marquee_container auto_play">
    <div class="marquee_content"></div>
    <div class="marquee_nav">
      <div class="marquee_nav_buttons"></div>
      <a id="news_current_nav_link" href="/" class="button little">READ</a>
    </div>
  </div>

  <div class="marquee_panels">
    <% top_posts.each do |post| %>
    <!-- Panel -->
      <div class="marquee_panel">
        <div class="marquee_panel_content note">
          <%= image_tag(post.image, :class => "marquee_panel_photo") %> 
          <div class="marquee_panel_details">
            <p class="title"><%= link_to post.title, news_post_path(post) %></p>
            <p class="when">posted on <%= short_date post.created_at %> by <%= post.profile.full_name %></p>
            <div class="text">
              <%# fail truncate(post.text.gsub!(/<(.*?)>/, ""), { :length => 300, :omission => "..." }) %>
              <p>
              <%= truncate(post.text.gsub!(/<(.*?)>/, ""), { :length => 300, :omission => "..." }) %>
              </p>
            </div>
          </div>
        <%= link_to "Read", news_post_path(post), :class => "data" %>  
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- END OF HEADER  -->