<%
full_post = false unless defined?(full_post)
classname = '' unless defined?(classname)
preview = false unless defined?(preview)
-%>

  <div class="list_item blog_post_item <%= classname %>">
    <%= link_to_avatar_for(blog_post.creator) -%>
    <div class="details">
      <h3><%= link_to(blog_post.title, news_post_path(blog_post)) %></h3>
      <p class="meta">Posted on <%= pretty_datetime(blog_post.created_at || Time.new) %><%= blog_post.root_parent.is_a?(Group) && blog_explore ? " in #{link_to(blog_post.root_parent.name, group_blog_url(blog_post.root_parent))}" : "" %> by&nbsp;<%= posted_by(blog_post) %></p>

        <div class="summary">
          <div class="blog_post_p">
            <%= textilize truncate(blog_post.text.gsub(/<\/?[^>]*>/, ""), { :length => 114, :omission => "&hellip;&nbsp;&nbsp;" }) -%>
          </div>
          <p>
            <%= link_to("read", news_post_path(blog_post), :class => "button little") -%>
            <%= link_to("comment", "#{news_post_path(blog_post)}#comments", :class => "button little light") -%>
          </p>
        </div>
        <%= action_list_for([
          (content_tag(:span, "No comments yet") if blog_post.comments.count.zero?),
          (link_to(pluralize(blog_post.comments.count, 'comment'), "#{news_post_path(blog_post)}#comments") unless blog_post.comments.count.zero?),
          render_abuse(blog_post),
          (link_to("edit", edit_news_post_path(blog_post)) if blog_post.editable_by? current_profile ),
          (link_to('delete', delete_news_post_path(blog_post), :class => 'modal delete') if blog_post.deletable_by?(current_profile)),
          (content_tag(:span, "Tags: " + ( link_to_blog_tags(blog_post.blog.owner, blog_post.tag_list) ), :class => 'tags') unless blog_post.tag_list.blank?)
        ]) -%>

    </div>


    <div class="rate">
      <%= render :partial => 'votes/show', :locals => { :owner => blog_post } %>
    </div>



  </div>
