<div id="blog_meta"> 
  <h4><%#= link_to("Post News Link", "/")%></h4>   

    <% unless News.blog.tags.size.zero? -%>
      <h4>Topics</h4>
      <ul class="tags">
        <% News.blog.tags(10).each do |tag| -%>
          <% if selected_tags.include? tag.name %>
            <li><%= "#{tag} (#{tag.total})" -%></li>
          <% else -%>
            <li><%= link_to("#{tag} (#{tag.total})", "#{news_path}?tag=#{tag}") -%></li>
          <% end -%>  
        <% end -%>
      </ul>
    <% end -%>

    <h4>Sources</h4>
    <ul class="archives">
      <% RssFeed.active.each do |rss_feed| -%>
        <% if selected_source == rss_feed.id %>
          <li><%= rss_feed.description -%></li>
        <% else %>
          <li><%= link_to(rss_feed.description, "#{news_path}?source=#{rss_feed.id}") -%></li>
        <% end -%>
      <% end -%>
    </ul>

    <% unless News.blog.archived_posts.size.zero? -%>
      <h4>Articles By Date</h4>
      <ul class="archives">
        <li><%= link_to("All", news_path)%>
        <% if posts && posts.size > 1 %>  
          <li><%=link_to("Most Recent", news_post_path(posts.first)) -%></li>
        <% end %>
        <% News.blog.archived_posts.each do |archive| -%>
          <% if selected_date == archive.created_at_year_month.to_s %>
            <li><%= archive.created_at.strftime("%B %Y") -%></li>
          <% else -%>
            <li><%= link_to(archive.created_at.strftime("%B %Y"), "#{news_path}?date=#{archive.created_at_year_month}") -%></li>
          <% end -%>  
        <% end -%>
      </ul>
    <% end -%>
    
</div>