<h2>Karma (<%= profile_stats[:karma_points] %>)</h2>
<table>
	<tr>
		<td><strong>Updates:</strong> <%= profile_stats[:statuses] %></td>
		<td><strong>Best Answers:</strong> <%= profile_stats[:best_answers] %></td>
	</tr>
	<tr>
		<td><strong>Questions:</strong> <%= profile_stats[:questions] %></td>
		<td><strong>Notes:</strong> <%= profile_stats[:blog_posts] %></td>
	</tr>
	<tr>
		<td><strong>Groups:</strong> <%= profile_stats[:groups] %></td>
		<td><strong>Profile Views:</strong> <%= profile_stats[:profile_views] %></td>
	</tr>
</table>