<style>
	#main { 
	  background: #FFF url('/images/ASHomepage_NewMar11_Version2_32311.jpg') no-repeat; 
	  min-height: 523px;
	}
	#main .primary .content {
	  padding-top: 0;
	  padding-bottom: 0;
	  background-color: transparent;
	}
</style>

<div class="intro-text">
	<h5>the largest</h5>
	<h1>travel agent community</h1>
	<h5>in the world</h5>
	<p>Welcome to AgentStream, a free community where you can connect, collaborate and share knowledge with thousands of your travel agent peers from around the globe.</p>
	<ul>
		<li>Ask & Answer Questions</li>
		<li>Create & Join Groups</li>
		<li>Create & Comment on Blogs</li>
		<li>Access Daily Travel News</li>
	</ul>
</div>

<div class="sign-up">
  <% @registration_fields = Config['registration_fields'] %>
  
	<h4>Request A Free Account</h4>
	<% form_for :user, :url => signup_account_path, :html => { :class => "html5", :id => "registration_form", "accept-charset" => "utf-8"} do %>
		<div id="errors" class="error" >
			<!-- This is a place holder DIV where any error messages about this form will be placed -->
		</div>
		<p>
		  <%= text_field :profile, :first_name, :size => '32', :placeholder => "First Name" %>
		  <%= text_field :profile, :last_name, :size => '32', :placeholder => "Last Name" %>
		</p>
		
		<p>
		  <%= text_field :user, :email, :size => '32', :placeholder => "Email Address" %>
		  <%= text_field :user, :login, :size => '32', :placeholder => "Login ID" %>
		</p>
		
		<% unless Config[:registration_queue] %>
		  <p>
		    <input type="text" name="user[password]" size="32" placeholder="Password" />
		    <input type="text" name="user[password_confirmation]" size="32" placeholder="Password (Again)" />
		  </p>
		<% end %>

		<% @registration_fields.each_with_index do |hash,idx| %>
		  <%= "<p>" if idx%2 == 0 %>
			<% attr_name = hash['label'].to_s.downcase.gsub(" ", "_") %>
  	  <% if hash['options'].to_s.blank? %>
  	    <%= text_field :registration, attr_name, :size =>'32', :placeholder => hash['label'] -%>
  	  <% else %>
  	    <%= select :registration, attr_name, hash['options'].split("\n"), {:prompt => "#{hash['label']}"}, :style => "width:235px", :placeholder => hash['label'] -%>
  	  <% end %>
  	  <%= "</p>" if (idx%2 == 1) || idx == @registration_fields.size-1 %>
  	<% end %>
				
		<p><button type="submit">Create Account</button></p>
  <% end %>
</div>