<div id="welcome-page">
	<div id="welcome-header">
		<div id="logo">
			<%= link_to image_tag ("/images/welcome/AS_HomePageHeaderLogoText_6811.gif", 
									:alt => "AgentStream", :size =>"233x36", :border =>0, :class => "text-logo"), :action  =>  :welcome %>
		</div>
		<div id="login">
			<%#= link_to("Login", login_account_path, :class => "button light") %>  
			<%= link_to image_tag ("/images/welcome/AS_LoginButton_blue_6811.gif", 
									:alt => "Login", :size =>"81x35", :border =>0 ), login_account_path %>
		</div>								
	</div>

	<div id="welcome-main">
	  <div class="left">
			<%= image_tag("/images/welcome/AS_GiantRedIcon_6811.gif", 
									:alt => "AgentStream Icon", :size => "370x451", :border =>0, :class => "icon") %>
		</div>
		<div class="right">
			<h1><p>welcome all travel agents</p></h1>
			<p>to the <strong>world's largest</strong> agent community built just for you &amp; your travel business.</p>
			<p>connect for free with other pros around the globe and instantly put the travel wisdom of thousands at your fingertips.</p> 
			<%= link_to image_tag ("/images/welcome/AS_SignUpButton_red_6811.gif", 
									:alt => "Sign Up", :size =>"180x58", :border =>0), {:action  =>  :signup}, {:class => "sing-up"} %>
		</div>	
		<div class="bottom">
			<div class="bottom-left">
				<p>network + connect</p>
				<%= image_tag("/images/welcome/AS_ConnectNetwork.png", 
										:alt => "AgentStream network-connect", :size => "", :class => "screen-capture") %>
			</div>
			<div class="bottom-right">
				<p>learn + share</p>
				<%= image_tag("/images/welcome/AS_LearnShare.png", 
										:alt => "AgentStream learn-share", :size => "", :class => "screen-capture") %>
			</div>
			<div class="bottom-center">
				<p>troubleshoot + collaborate</p>
				<%= image_tag("/images/welcome/AS_TroubleshootCollab.png", 
										:alt => "AgentStream troubleshoot-collaborate", :size => "", :class => "screen-capture") %>
			</div>	
		</div>	
	</div>
	
	
	<%= render :partial => "/account/welcome_footer" %>
</div>

<div id="fb-root"></div>
<script>
	// these have to be in page AFTER <div id="fb-root"></div> 
	// Initialize facebook elements	 
	FB.init({
	   appId  : <%=FB_APP_ID%>,
	   status : true, // check login status
	   cookie : true, // enable cookies to allow the server to access the session
	   xfbml  : true  // parse XFBML
	 });
	
	// logout of facebook
	<% if @facebook_logout %>
		FB.getLoginStatus(function(response) {
		  if (response.session) {
				// User logged into FB
		    FB.logout(function(response){
					// cb : window.location = "/account/login?logout=true";
				});
		  }
		});
	<% end %>	
</script>
