<div id="welcome-main">
  <div class="left">
		<%= image_tag("/images/welcome/AS_GiantRedIcon.png", 
								:alt => "AgentStream Icon", :size => "300x366", :border =>0, :class => "icon") %>
	</div>
	<div class="right">
		<h1><p>welcome all<br />travel agents</p></h1>
		<p>to the <strong>world's largest</strong> agent community built just for you &amp; your travel business.</p>
		<p>connect for free with other pros around the globe and instantly put the travel wisdom of thousands at your fingertips.</p> 
		<%= link_to image_tag ("/images/welcome/AS_SignUpButton_red_6811.gif", 
								:alt => "Sign Up", :size =>"162x52", :border =>0), {:action  =>  :signup}, {:class => "sing-up"} %>
								<!-- 180x58 -->
								
	</div>	
	<div class="bottom">
		<div class="bottom-left">
			<p>network + connect</p>
			<%= image_tag("/images/welcome/AS_ConnectNetwork.png", 
									:alt => "AgentStream network-connect", :size => "233x175", :class => "screen-capture") %>
		</div>
		<div class="bottom-right">
			<p>learn + share</p>
			<%= image_tag("/images/welcome/AS_LearnShare.png", 
									:alt => "AgentStream learn-share", :size => "233x175", :class => "screen-capture") %>
		</div>
		<div class="bottom-center">
			<p>troubleshoot + collaborate</p>
			<%= image_tag("/images/welcome/AS_TroubleshootCollab.png", 
									:alt => "AgentStream troubleshoot-collaborate", :size => "233x175", :class => "screen-capture") %>
		</div>	
	</div>	
</div>
