<% content_for(:admin_js, "") -%>
<% content_for(:heading, "Administration") -%>
<% content_for(:admin_selected, 'selected') -%>
<% content_for :tabs do -%>
	<%= content_tag('li', link_to('Reports/Stats', stats_summary_admin_path), :class => yield(:reports_stats_tab_selected)) if current_profile.has_role?(Role::ReportAdmin) -%>
	<%= content_tag('li', link_to("Content Management", marketing_messages_admin_path), :class => yield(:home_admin_tab_selected)) if current_profile.has_role?(Role::ContentAdmin) -%>
	<%= content_tag('li', link_to("Shady Admin", shady_admin_admin_path), :class => yield(:shady_admin_tab_selected)) if current_profile.has_role?(Role::ShadyAdmin) -%>
	<%= content_tag('li', link_to("User Setup", users_path), :class => yield(:user_admin_tab_selected)) if current_profile.has_role?(Role::UserAdmin) -%>
	<%= content_tag('li', link_to("Awards", current_awards_admin_path), :class => yield(:awards_tab_selected)) if current_profile.has_role?(Role::AwardsAdmin) -%>
	<%= content_tag('li', link_to("Travel Expo", sponsor_accounts_path), :class => yield(:sponsor_accounts_tab_selected)) if current_profile.has_role?(Role::SponsorAdmin) -%>
	<%= content_tag('li', link_to("Channels", companies_admin_path), :class => yield(:company_admin_tab_selected)) if current_profile.has_role?(Role::SponsorAdmin) -%>
<% end -%>


<% content_for :tab_panel do %>
  <%= yield :admin_tabs_submenu -%>
  <div id="admin">
    <%# SSJ This yields the controller action -%>
  	<%= yield -%>
  </div>
<% end %>

<%= render :file => 'layouts/_tab_structure' -%>

