<% content_for(:admin_js, "") -%>
<% content_for(:heading, "Administration") -%>
<% content_for(:admin_selected, 'selected') -%>
<% content_for :tabs do -%>
	<%= content_tag('li', link_to('Reports/Stats', stats_summary_admin_path), :class => @content_for_reports_stats_tab_selected) if current_profile.has_role?(Role::ReportAdmin) -%>
	<%= content_tag('li', link_to("Content Management", marketing_messages_admin_path), :class => @content_for_home_admin_tab_selected) if current_profile.has_role?(Role::ContentAdmin) -%>
	<%= content_tag('li', link_to("Shady Admin", shady_admin_admin_path), :class => @content_for_shady_admin_tab_selected) if current_profile.has_role?(Role::ShadyAdmin) -%>
	<%= content_tag('li', link_to("User Setup", users_path), :class => @content_for_user_admin_tab_selected) if current_profile.has_role?(Role::UserAdmin) -%>
	<%= content_tag('li', link_to("Awards", current_awards_admin_path), :class => @content_for_awards_tab_selected) if current_profile.has_role?(Role::AwardsAdmin) -%>
	<%= content_tag('li', link_to("Sponsors", sponsor_accounts_path), :class => @content_for_sponsor_accounts_tab_selected) if current_profile.has_role?(Role::SponsorAdmin) -%>
	<%= content_tag('li', link_to("Channels", companies_admin_path), :class => @content_for_company_admin_tab_selected ) if current_profile.has_role?(Role::SponsorAdmin) -%>
<% end -%>

<% content_for :tab_panel do %>
  <%= yield :admin_tabs_submenu -%>
  <div id="admin">
    <%# SSJ This yields the controller action -%>
  	<%= yield -%>
  </div>
<% end %>

<%= render :file => 'layouts/_tab_structure' -%>

