<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="shortcut icon" href="/images/as_favicon.ico" type="image/x-icon">
	<title>AgentStream</title>
	<link rel="stylesheet" href="/themes/agentstream/_css/style.css" />

	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>

  <style>
  	#header h1#logo a { background: url(/images/AgentStream_Logo_FINAL_111210_H80.jpg) no-repeat 0px 50%;}
  </style>

  <%= render :partial => "shared/ga" %>
</head>
<body>
<div id="page">
	<div id="header">
		<h1 id="logo"><%= link_to "AgentStream", home_path %></h1>
		<div class="global_nav">
			<ul class="nav">			  
				<%= global_nav_link "Hub", '/', "hub_nav" %>
				<%= global_nav_link "Q&amp;A", questions_explorations_path, "qa_nav" %>
				<%= global_nav_link "Groups", groups_explorations_path, "group_nav" %>
				<%= global_nav_link "Blogs", blogs_explorations_path, "blog_nav" %>
				<%= global_nav_link "News", news_path, "news_nav" %>
			</ul>
		</div>
		<div class="utility">
			
			<div id="google_translate_element" class="search" ></div><script>
			function googleTranslateElementInit() {
			  new google.translate.TranslateElement({
			    pageLanguage: 'en',
			    includedLanguages: 'en,fr,de,it,pt,es',
			    multilanguagePage: true,
			    gaTrack: true,
			    gaId: 'UA-7721081',
			    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
			  }, 'google_translate_element');
			}
			</script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
			
			
			<ul class="nav">
				<li>
				  <span class="online_now"><%= @active_users %> online now</span>
				</li>
				<li>
				  <%= link_to "Profile", profile_path(current_profile) if current_profile %>
				</li>
				<li>
				  <%= link_to("Settings", (hide_for_sponsor ? change_email_account_path : email_subscriptions_account_path), :class => "#{@content_for_settings_selected}") if current_profile %>
				</li>
				<% 
					admin_roles = [Role::ReportAdmin, Role::ContentAdmin, Role::ShadyAdmin, Role::UserAdmin, Role::AwardsAdmin, Role::SponsorAdmin]
					admin_paths = {
						Role::ReportAdmin => stats_summary_admin_path,
						Role::ContentAdmin => marketing_messages_admin_path,
						Role::ShadyAdmin => shady_admin_admin_path,
						Role::UserAdmin => users_path,
						Role::AwardsAdmin => current_awards_admin_path,
						Role::SponsorAdmin => sponsor_accounts_path
					}
					admin_path = admin_roles.map { |role| admin_paths[role] if current_profile.has_role?(role) }
				-%>
				<% unless admin_path.compact.blank? %>
  				<li>
  				  <%= link_to('Admin', admin_path.compact[0]) %>
  				</li>
				<% end %>
				<li>
				  <%= link_to "Logout", logout_account_path if current_profile %>
				</li>
			</ul>
						
			<div class="search">
				<form action="/search" method="get" accept-charset="utf-8" class="html5">
					<input type="text" id="global_search_input" name="q" <%= "placeholder=\"Search for any keyword or person\"" unless @query %> title="Search" value="<%= h @query %>" />
			    <button type="submit" class="button">Search</button>
				</form>
			</div>
		</div>
	</div>



	<div id="main">
	  <div id="primary">

      <%#= yield %>
		  <%= @content_for_content ? yield(:content) : yield %>
		
		</div>
	</div>
	<%= render :partial => "/shared/footer" %>
	<%= render :partial => "/shared/notices" %>
</div>
<!-- 
  MM2:
  REVERTING BACK TO THE OLD JAVASCRIPT WAYS.
  IF ANYONE HAS THE TIME/EFFORT TO WRITE ONLY THE ONES WE NEED, I'M OPEN TO IT.

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="js/jquery-1.4.2.min.js"><\/script>')</script>
  <script src="/themes/agentstream/_js/script.js"></script>
  <script type="text/javascript" charset="utf-8">
  (function($) {  // $ = jQuery within this block


  $(document).ready(function() {

     $('.alert .close').live('click', function(event) {
       $(this).parent().fadeTo('slow', 0.01, function(){$(this).slideUp();});
       return false;
     });
  });
  })(jQuery);
  </script>
-->


  <%= javascript_include_merged( :base ) -%>
  <%= javascript_include_merged( :admin ) if @content_for_admin_js -%>

  <%= javascript_include_tag "jquery/cookie" %>


  <% # There were issues with including ckeditor in the asset packager %>
  <% # Also, ckeditor is very large, and not needed on the hub page, so we'll skip loading it there %>
  <% # At some point only requiring it on the pages that need it would be a good idea %>
  <% unless params[:controller] == "profiles" && params[:action] == "hub" %>
    <%= javascript_include_tag "ckeditor/ckeditor" %>
  <% end %>
  
  <%= javascript_include_tag "global_extended" %>  
</body>
</html>