<% is_owner = (current_profile == @profile) -%>
<% content_for(:my_stuff_selected, 'selected') if is_owner -%>

<%= content_for :tabs do %>
  <% is_owner = (current_profile == @profile) -%>
  <% content_for(:my_stuff_selected, 'selected') if is_owner -%>
  <%= content_tag('li', link_to("Profile", profile_path(@profile)), :class => yield(:profile_tab_selected)) -%>
  
  <%= owner_content do %>
    <%= content_tag('li', link_to("Messages", notes_path), :class => yield(:notes_tab_selected)) -%>
  <% end %>
  
  <%= show_when_viewing_sponsored_profile do -%>
  	<%= content_tag('li', link_to("Q &amp; A", watched_questions_profile_path(@profile)), :class => yield(:questions_tab_selected)) -%>
  <% end -%>
  <%= hide_when_viewing_sponsored_profile do -%>
  	<%= content_tag('li', link_to("Q &amp; A", is_owner ? matched_questions_profile_path(@profile) : questions_asked_profile_path(@profile)), :class => yield(:questions_tab_selected)) -%>
  <% end -%>
  <%= content_tag('li', link_to("Groups", groups_profile_path(@profile)), :class => yield(:groups_tab_selected)) -%>
  <%= hide_when_viewing_sponsored_profile do -%>
  	<%= content_tag('li', link_to("Blog",  profile_blog_path(@profile)), :class => yield(:blog_tab)) -%>
  	<%= owner_content do -%>
  	  <%# NO MORE FOLLOWING %>
  	  <% if false %>
  		  <%= content_tag('li', link_to("Following", profile_watches_path(@profile)), :class => yield(:favorites_tab)) -%>
  		<% end %>
  		<% if Getthere.Enabled? %>
  			<%= content_tag('li', link_to("Travel", profile_travels_path(@profile)), :class => yield(:travel_tab)) -%>
  		<% end %>
  	<% end -%>

  	<%= content_tag('li', link_to("Updates", profile_statuses_path(@profile)), :class => yield(:status_tab_selected)) -%>
    <% if false %>
      <%= content_tag('li', link_to("Badges", profile_badges_path(@profile)), :class => @content_for_badges_tab) -%>
    <% end %>
  <% end -%>
<% end %>

<% content_for :tab_panel do %>
  <div id="list">
    <%= yield %>
  </div>
<% end %>

<% content_for :aside do %>

  <% if false %>
    <div class="module last">
    	<h2>Latest Activity</h2>
    	<h1>I THINK WE SCRATCH THIS SECTION FOR PHASE 1</h1>

    	<div class="question">
    		<h3 class="text">The island of Rhodes... What hotel do you like best?  Why?</h3>
    		<div class="meta">
    			<p class="asked">asked on Aug 07, 2010 by Betty Rhodes -</p>
    			<p class="open_until">Open Until Sep 06, 2010</p><br>
    			<p class="category">category: <a href="">leisure travel</a></p>
    			<p class="answers"><a href="#">2 answers</a></p>
    		</div>
    		<ul class="nav question_actions">
    			<li class="answer"><a href="#">Answer</a></li>
    			<li class="refer"><a href="#">Refer</a></li>
    			<li class="watch"><a href="#">Watch This</a></li>
    			<li class="shady"><a href="#">Shady</a></li>
    		</ul>
    	</div>
    </div>
  <% end %>

<% end %>


<%= render :file => 'layouts/_tab_structure' -%>





