<% content_for :sponsored_group_about do -%>
     	<div id="group_card_sponsored">
		<%= primary_photo_for(@group, :thumb => :thumb_large, :hide_sponsor_sash => true, :hide_group_icon => true) -%>
		<div class="sponsored_group_details">
			<h2><%= @group.name -%></h2>
			<span class="founded_on"><em>Founded on <%= short_date(@group.created_at) -%> &nbsp;&ndash;&nbsp; <%= pluralize(@group.group_memberships_count, "member", "members") -%></em></span><br/><br/>
			<%= render_inline_editor_for(@group, :description, group_path(@group, {:method => :put} ), :class => 'description', :type => 'expandable', :maxlength => '500', :tooltip => "Click to edit the Group's description") -%>
			<h6>Things We Know About</h6>
			<%= render_inline_editor_for(@group, :tags, group_path(@group, {:method => :put} ), :class => 'tags', :type => 'expandable', :maxlength => '300', :tooltip => "Click to edit the Group's knowledge", :placeholder => "Click to add to your Group's knowledge") -%><br/>
			<p class="last_edited"><em>Last edited by <%= @group.last_updater.screen_name -%> <%= timeago(@group.updated_at) -%></em></p>
		</div>
	</div>
 <%end%>


<%= render :file => 'layouts/_announcement_panel' %>

