<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>AgentStream</title>
	<link rel="stylesheet" href="/themes/agentstream/_css/style.css" />
	<style>
	/*#main { background: #e5f1f4 url('/images/signup_bg.jpg') no-repeat left top;}*/
	#main { background: #fff; }
	input.placeholder { color: #666;}
	.login-main { float: right; margin: 30px 20px;}
	.login-main h4 { margin:0 0 8px 0; line-height: 14px; color:#4a6970;}
	.login-main input[type=text], .login-main input[type=password]  { margin-bottom: 3px; width: 215px; }
	.login-main a.forgot { margin-right: 152px;}
	#main .primary .content { width: 940px; border-top: 1px solid #c4d7dc; padding: 10px;}
	#main .primary .content .intro-text { clear: both; float:left; width: 350px; margin:30px 20px 20px 30px; background: transparent;}
	#main .primary .content .intro-text h5 {font-size: 32px; line-height: 32px; margin:0; font-weight:normal; color: #6f563b;}
	#main .primary .content .intro-text h1 {font-size: 48px; line-height: 40px; margin:0; color:#4a6970;}
	#main .primary .content .intro-text p {font-size: 12px; line-height: 14pt; margin: 12px 0;}
	#main .primary .content .intro-text li {color:#4a6970;font-weight: bold;}
	#main .primary .content .sign-up { float:right; width: 500px; margin:30px 0px 100px 20px; background: transparent;}
	#main .primary .content .sign-up form input[type=text] { width: 228px; }
	#footer { clear:both;}
	
	
	#header h1#logo a { background: url(/images/as_logo_179x90.png) no-repeat 0px 50%;}
	</style>

</head>
<body>
<div id="page">
	<div id="header">
	  <h1 id="logo"><%= link_to "AgentStream", home_path %></h1>
		
		<div class="login-main">
			<h4>Current Members</h4>
			<% @user = User.new %>
			<% form_for @user, :url => login_account_path, :html => { :id => "login_form", :class => "html5", "accept-charset" => "utf-8"} do %>
				<p>
				  <input type="text" name="login" size="40" placeholder="Login" id="one" />
				  <input type="password" name="password" size="40" placeholder="Password" id="two"/>
			   	<button type="submit">Login</button>
			   	<br/>
			   	<a href="/retrievals/new?forgot=login" class="forgot">Forgot login?</a>
			   	<a href="/retrievals/new?forgot=password">Forgot password?</a>
			  </p>
			<% end %>
		</div>
	</div>

	<div id="main">
		<div class="primary">
			<div class="content">
        <%= @content_for_content ? yield(:content) : yield %>
      </div>
		</div>
	</div>
	<%= render :partial => "/shared/footer" %>
	
	<%= render :partial => "/shared/notices" %>
</div>

<%= javascript_include_merged( :base ) -%>

<%= javascript_include_tag "forms" %>

</body>
</html>